<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.jingdong.mapper.ProductOrderMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.jingdong.entity.ProductOrder" >
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_count" property="productCount" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="org.lanqiao.jingdong.entity.ProductOrder" >
    insert into product_order (order_id, product_id, product_count
      )
    values (#{orderId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{productCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.jingdong.entity.ProductOrder" >
    insert into product_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productCount != null" >
        product_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productCount != null" >
        #{productCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>