<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.jingdong.mapper.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.jingdong.entity.ProductCategory" >
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="org.lanqiao.jingdong.entity.ProductCategory" >
    insert into product_category (category_id, product_id)
    values (#{categoryId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.jingdong.entity.ProductCategory" >
    insert into product_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>